@import "../css/reset.css";
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
     background-image: url("../img/gory_ozero_oblaka_151341_1920x1080.jpg");
}

 .contactForm {
      min-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 50px;
      max-width: 1000px;
      background-image: url("../img/gory_ozero_oblaka_151341_1920x1080.jpg");
      margin: 25px auto;
      box-shadow: 2px 0px 5px 7px rgba(0,0,0,0.75);
 }

.contactForm > div {
     line-height: 40px;
     font-size: 20px;
     width: 100%;
     padding: 8px;
     box-sizing: border-box;
     margin-left: 50px;
     font-family: 'Indie Flower', cursive;

}

 .inputs{
      box-sizing: border-box;
      margin-left: 10px;
      width: 400px;
      font-family: 'Indie Flower', cursive;

 }

.inputs > .inputPhone{
     display: flex;
     flex-direction: row;
     justify-content: center;
     margin-left: 10px;
}

#Messegen{
     width: 400px;
     height: 150px;
}

