@import "reset.css";


body


 .contactForm {
      min-width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 50px;
      min-width: 1000px;
     background-image: url("../img/gory_ozero_oblaka_151341_1920x1080.jpg");

 }

.contactForm > div {
     line-height: 40px;
     font-size: 20px;
     width: 100%;
     padding: 20px;
     box-sizing: border-box;


}

 .inputs{
      box-sizing: border-box;
      margin-left: 10px;
      width: 400px;
}

.inputs > .inputPhone{
     display: flex;
     flex-direction: row;
    justify-content: center;
}

#Messegen{
     width: 400px;
     height: 250px;
}

